
/*
min-height = 1 / 100 of the viewport

Flexbox:
- display:flex;
- flex-direction: row/column;


*/


@media (max-width: 600px) {
    #headshot{
        display: none;
    }
}
@media (max-width: 90em) {
    .content {
      flex: 1;
    }
  }
@media only screen and (max-width: 500px) {
    #spotify-player iframe {
      width: 1000px;
    }
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(33, 7, 39);
}

.site-wrapper {
    min-height: 100vh;
    width: 95%;
    height: 99%;
    border-radius: 1%;
    background-image: linear-gradient(rgba(50, 10, 70, 0.7), rgba(50, 10, 70, 0.7)), url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header {
    min-height: 10vh;
    display: flex;
    overflow: auto;
}

.header h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: clamp(2rem, 4vw, 5rem);
    font-weight: 800;
    margin-left: 1em;
    margin-right: 1em;
    color: white;
    text-align: center;
}

#headshot {
    width: clamp(4em, 8em, 12em);
    height: clamp(4em, 8em, 12em);
    border-radius: 50%;
    border: 0.5em solid purple;
    margin: 1em;
}

.nav-container {
    background-image: linear-gradient(rgba(50, 10, 70, 0.8), rgba(50, 10, 70, 0.8));
    border-radius: 5%;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    flex: 1;
    text-align: left;
}

nav ul li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5vh;
}

.navbar ul li a {
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-size: clamp(1.5rem, 2vw, 4rem);
    font-weight: 800;
    color: white;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
    padding: 1em;
}

#info {
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-size: clamp(1.5rem, 2vw, 4rem);
    font-weight: 800;
    color: white;
}



#social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#social-links a {
    vertical-align: middle;
    padding: clamp(0.5vw, 1vw, 1.5vw);
}
#social-links a svg {
    width: clamp(25px, 75px, 125px);
    height: clamp(25px, 75px, 125px);
  }

#spotify-player iframe {
    width: 300px;
}