
/*
min-height = 1 / 100 of the viewport

Flexbox:
- display:flex;
- flex-direction: row/column;


*/



@media (max-width: 90em) {
    #headshot{
        display: none;
    }
}


body {
    background-color: rgb(33, 7, 39);
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.site-wrapper {
    min-height: 100vh;
    width: 100%;
    border-radius: 1%;
    background-image: linear-gradient(rgba(50, 10, 70, 0.7), rgba(50, 10, 70, 0.7)), url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header {
    min-height: 10vh;
    display: flex;
    overflow: auto;
}

.header h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 5em;
    font-weight: 800;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 1em;
    margin-right: 1em;
    color: white;
    text-align: center;
}

#headshot {
    width: 12em;
    height: 12em;
    border-radius: 50%;
    border: 0.5em solid purple;
    margin: 1em;
}

.nav-container {
    background-image: linear-gradient(rgba(50, 10, 70, 0.8), rgba(50, 10, 70, 0.8));
    border-radius: 5%;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    flex: 1;
    text-align: left;
}

nav ul li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5vh;
}

.navbar ul li a {
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
}

#content {
    display: flex;
    flex-direction: row;
    margin-top: 2.5em;
    margin-right: 2.5em;
}

#info {
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 800;
    color: white;
    padding: 1em;
}

#twitter-timeline {
    margin-top: 2.5em;
    padding-bottom: 10em;
    padding-right: 1em;
}
#spotify-player {
    margin-top: 2.5em;
    padding-bottom: 10em;
    padding-right: 1em;
}

.footer {
    margin-top: 10em;
}

#social-links {
    display: flex;
    flex-direction: row;
}

#social-links a {
    display: inline-block;
    vertical-align: middle;
    padding: 0.75em;
}