<!DOCTYPE html>
<html>

<head>
    <title> Giovanni Aratico | Projects </title>
    <!-- Character encoding standard -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
             Comments out my sheet
         -->
    <link rel="stylesheet" href="../css/styles.css">
    <!-- Google Font import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap" rel="stylesheet">
    <!-- BootStrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</head>

<body class="bg-dark">
    <!-- Wraps entire page in container for styling -->
    <section class="site-wrapper">

        <!-- Div container containing the navbar -->
            <giovanni-navbar page="projects">
            </giovanni-navbar>

        <!-- Section header containing heading and headshot -->
        <section class="align-middle" id="header">
            <!-- Denotes heading tags, bigger number = smaller header  -->
            <h1> Giovanni Aratico | SanaraX </h1>
            <!-- img = Image tag, 
                         SRC = Where the pic is, 
                         img-thumbnail = Bootstrap class to round pic
                         img-fluid -->
            <img src="../img/face.jpg" id="headshot">

            <!-- Denotes list of social media links
                    SVG icons pulled from Bootstraps icons -->
        </section>

        <!-- Contains content of the page -->
        <div class="content">


            <!-- mt-3 = MARGIN TOP = 2-->
            <!-- ms-3 = MARGIN START (LEFT) = 2-->
            <div class="container mt-2 ms-2">
                <div class="info" id="info_projects">
                    <h2> Portfolio Projects linked through GitHub: </h2>
                </div>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <!-- PROJECT 2 / METACRITIC-->
                    <!-- w-30 = WIDTH = 30; -->
                    <div class="col-lg-4 w-20 mw-30 h-100">
                        <!-- m-b-3 = MARGIN BOTTOM = 3 -->
                        <div class="card border-primary border-5 m-b-3" style="width: 25vw;">
                            <img src="../img/meta.png" alt="Metacritic" class="card-img-top" id="metapic">
                            <div class="card-body">
                                <h3 class="card-title">Metacritic Webscraper</h3>
                                <p class="card-text">Demonstrates basic programming skills in Python. Utilitizes the libraries Requests, NumPy and BeautifulSoup to collect data and output to usable formats.</p>
                                <a href="https://github.com/garatico/Metacritic-Scraper" class="btn btn-primary"> Link to Project</a>
                            </div>
                        </div>
                    </div>
                    <!-- PROJECT 1-->
                    <div class="col-lg-4 w-20 mw-30 h-100">
                        <!-- m-b-3 = MARGIN BOTTOM = 3 -->
                        <div class="card border-primary border-5 m-b-3" style="width: 25vw;">
                            <img src="../img/face.jpg" alt="Giovanni" class="card-img-top" id="facepic">
                            <div class="card-body">
                                <h3 class="card-title">Personal Website</h3>
                                <p class="card-text">Demonstrates basic web development skills including HTML and CSS. Utilitizes Bootstrap styling and demonstrates knowledge of git version control.</p>
                                <a href="https://github.com/garatico/garatico.github.io" class="btn btn-primary"> Link to Project</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div id="projects_list">
                <giovanni-project project="next-project">
                </giovanni-project>
                <giovanni-project project="Metacritic-Scraper">
                </giovanni-project>
                <giovanni-project project="Personal-Website">
                </giovanni-project>
            </div> -->
            
        </div>

        <!-- Footer section contains social links -->
        <giovanni-footer>
        </giovanni-footer>

    </section>
    <script src="../scripts/components.js"></script>
</body>

</html>